body {
  background-color: #e6e6e6;
  margin: 0;
}

.home-page {
  background-color: #fff;
  border-radius: 0 0 0 5%;
  grid-column: 4/6;
}

#nav {
  display: flex;
}

.button {
  margin-top: 20px;
}

.logo-img {
  width: 100%;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #6070ff;
}

.hamburger {
  display: block;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}


#nav nav:hover {
  cursor: pointer;
}

.internal-link {
  list-style-type: none;
  position: fixed;
  left: -110%;
  top: 0;
  bottom: 0;
  gap: 0;
  flex-direction: column;
  opacity: calc(90%);
  text-align: left;
  width: 100%;
  transition: 0.3s;
  background-color: #6070ff;
  padding-top: 90px;
  margin-top: auto;
}

.internal-link.active {
  left: 0;
}

.nav-item {
  margin: 40px 0 0 28px;
  font-size: 32px;
  color: #ffffff;
}

#home_presentation {
  background-image:
    url("./image/Rectangle 4.png"),
    url("./image/Ellipse\ 3.png"),
    url("./image/Ellipse\ 8.png"),
    url("./image/Ellipse\ 5.png"),
    url("./image/Rectangle\ 7.png"),
    url("./image/Ellipse 12.png"),
    url("./image/Ellipse 4.png"),
    url("./image/Rectangle\ 5.png"),
    url("./image/Ellipse\ 13.png"),
    url("./image/Ellipse\ 15.png") url("./image/Ellipse\ 11.png");
  background-position:
    294px 68px,
    323px 102px,
    214px 110px,
    125px 106px,
    127px 98px,
    370px 385px,
    290px 509px,
    240px 507px,
    357px 392px,
    106px 497px,
    19px 79px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 600px;
  width: 100%;
}

.short-presentation {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: #172b4d;
  line-height: 52px;
  text-align: start;
  margin: 0 24px;
  width: 80%;
}

#home_presentation p {
  font-family: Poppins, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 24px 0 24px;
  width: 80%;
}

#contact ul {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-left: 24px;
}

.icon {
  list-style-type: none;
  margin-right: 20px;
}

.link-1 {
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.link-2 {
  color: #7F8CFF;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.link-1 a:hover {
  color: red;
}

#nav .logo {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #6070ff;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 24px;
  margin-top: 20px;
  width: 25%;
  margin-right: 60%;
}

.work-section {
  display: grid;
}

.work-title {
  position: static;
  align-items: center;
  width: auto;
  height: 83px;
  left: 0px;
  top: 0px;
  font-family: 'Crete Round';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #1C1A19;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 24px;
  margin-left: 30%;

}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #FFFFFF;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
  margin-top: 20px;
  border-radius: 20px;
}

.Snapshoot {
  width: 100%;
}

.title {
  margin-left: 5%;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.detail {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #6B778C;
  margin-right: 25px;
}

.detail-1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: #344563;
  margin-right: 25px;
}

.Detailp {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  position: static;
  width: auto;
  height: 24px;
  left: 0px;
  top: 180px;
}

.tag {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  position: static;
  width: auto;
  height: 24px;
  left: 114px;
  top: 0px;
  background-color: #EBEBFF;
  border-radius: 8px;
  margin-left: 10px;
  border: none;
  color: #6070FF;
}

.tag:hover {
  background-color: #18a0fa;
}

.tag:active {
  background-color: #2230D2;
}

.tag-text {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070FF;
}

.normal-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 12px 12px;
  width: 124px;
  height: auto;
  left: 0px;
  top: calc(50% - 48px/2);
  border: 1px solid #6070FF;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 40px;
  background-color: white;
  color: #6070FF;
}

.normal-button:hover {
  background-color: #6070ff;
  color: white;
}

.normal-button:active {
  background-color: #2230D2;
  color: white;
}

#about_me {
  margin: 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-top: 20px;
}

#about_me h1 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  display: flex;
  align-items: flex-end;
}


#presentation {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#profile_link {
  display: flex;
  flex-direction: column;
}

#profile_link h2 {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

#profile_link h2:hover {
  text-decoration: underline;
  text-decoration-color: #18a0fa;
  text-decoration-thickness: 3px;
}

#profile_link ul {
  display: flex;
  padding-left: 0;
}

#profile_link ul li {
  list-style: none;
  margin-right: 12px;
}

#my_resume {
  text-decoration: none;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid #396df2;
  border-radius: 5px;
  text-align: center;
  padding: 10px 10px;
  align-self: baseline;
}

#my_resume:hover {
  background-color: #6070ff;
}

#my_skills {
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  margin-left: 24px;
}

#languages_skills {
  display: flex;
  flex-direction: column;
}

.data-inf {
  margin-left: 24px;
  margin-top: 114px;
  margin-right: 12px;
}

.data-inf p {
  animation-duration: 3s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
  }

  to {
    margin-right: 0%;
  }
}

.spec_name {
  display: flex;
  justify-content: space-between;
}



.spec_name div {
  margin-right: 24px;
}

.spec_name div img {
  vertical-align: middle;
}

#programmes {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
}

#skills-cards {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
}

.frameworks-skills {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  justify-content: space-between;
  margin-right: 24px;
  margin-bottom: 0;
  margin-top: 0;
}


.pro {
  list-style: none;
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 5px;
  height: 100px;
  width: 100px;
}


.pro img:hover {
  transform: scale(0.7);
}

.pro img {
  margin-right: 30px;
}


#my_skills p {
  align-self: flex-start;
  margin: 15px 10% 0 15px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  margin-right: 30px;
}

#frameworks {
  display: flex;
  flex-direction: column;
}

#frameworks div {
  margin-top: 7px;
}

#l1 {
  height: 5px;
  margin: 10px 0;
}

#l1 hr {
  background: #dfe1e6;
  height: 1px;
  vertical-align: middle;
  margin-top: 3px;
}

#sk {
  display: flex;
  flex-direction: column;
}


#sk div {
  margin-top: 7px;
}

#l2 {
  height: 5px;
  margin: 10px 0;
}

#l2 hr {
  background: #dfe1e6;
  height: 1px;
}

#programmes .pro p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 15px;
  margin-top: 15px;
}

.horizontal {
  height: 1px;
  border-width: 0;
  color: gray;
  background-color: gray;
  margin-top: 20px;
}

.frameworks p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
}

#skills-cards .pro p {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #253858;
  margin-left: 15px;
}

.frameworks-skills .pro p {
  font-family: Poppins, sans-serif !important;
  font-style: normal !important;
  font-weight: 500 !important;
  font-size: 15px !important;
  line-height: 20px !important;
  color: #253858 !important;
  margin-left: 15px !important;
}

.final_wrap {
  background-color: #fff;
  border-radius: 7.5%;
}

.form-section {
  background-color: #fff;
  background-image:
    url("../statics/images/ep1.svg"),
    url("../statics/images/rp1.svg"),
    url("../statics/images/ep2.svg"),
    url("../statics/images/rp2.svg"),
    url("../statics/images/ep3.svg"),
    url("../statics/images/contact-form-\ background.svg");
  background-repeat: no-repeat;
  background-position:
    78% 91%,
    86% 90%,
    99.7% 9.2%,
    99.5% 6.2%,
    41% 7.06%,
    0;
  background-size: auto, auto, auto, auto, auto, cover;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}

#contact {
  display: flex;
  flex-direction: column;
}

.contact-form {
  width: auto;
  height: 779px;
  left: 0px;
  top: 5410px;
  background: #6070FF;
  border-top-left-radius: 100px;
  margin-top: 50px;
}

.error-message {
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 28px;
  color: #ebebff;
  text-align: center;
  margin: 14px auto 0 auto;
}


@media screen and (max-width: 760px) {
  .pro {
    list-style: none;
    display: flex;
    background: #f7f7f9;
    border-radius: 8px;
    margin-bottom: 5px;
    width: 100%;
    height: auto;
  }

  .hide-1 {
    display: none;
  }


  .img1 {
    position: absolute;
    width: 74.7px;
    height: 17.21px;
    left: 329px;
    top: 4635.4px;
  }

  .img2 {
    left: 350px;
    top: 4659px;
    position: absolute;
  }

  .img3 {
    left: 140px;
    top: 4606px;
    position: absolute;
  }

  .img4 {
    left: 216px;
    top: 5205px;
    position: absolute;
  }

  .img5 {
    left: 217px;
    top: 5234px;
    position: absolute;
  }

  .img6 {
    display: none;
  }

  .nav-item a {
  height: 24px;
  left: 0px;
  right: 68px;
  top: calc(50% - 24px/2);
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  }
}

.intro {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  color: #FFFFFF;
  position: relative;
  top: 100px;
  margin-left: 105px;
}

.contact-description {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #EBEBFF;
  position: relative;
  top: 90px;
  padding: 20px;
}

.form {
  flex-direction: column;
  position: absolute;
  margin-top: 60px;
  width: -webkit-fill-available;
  margin-right: 40px;
}

.form-ul {
  display: block;
  flex-direction: column;
  list-style: none;
}

.form-input {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 8px;
  margin-top: 20px;
  width: -webkit-fill-available;
  box-sizing: border-box;
  padding: 10px;
}

#contact-1 ul {
  display: block;
}


.contact-button {
  padding: 10px;
  color: #6070FF;
  border-radius: 5px;
  background-color: white;
  border: none;
  margin-top: 10px;
}

.contact-button:hover {
  background-color: #6070FF;
  color: white;
}

.contact-button:active {
  background-color: #2230D2;
  color: white;
}

@media screen and (min-width: 1024px) {
  #nav {
    margin-top: 0;
    margin-right: 10.69%;
    margin-left: 10.76%;
  }

  header #nav .logo {
    font-family: Poppins, sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
  }

  #nav nav {
    display: none;
  }

   .internal-link {
    display: flex;
    flex-direction: row;
    padding-top: 0%;
    position: inherit;
    background-color: #fff;
    justify-content: space-between;
    min-width: 190px;
    transition: all 0.5s ease-out;
    margin-top: -20px;
  }

   .internal-link li a:hover {
    color: #000ff0;
  }


   .internal-link li {
    list-style: none;
  }

  .internal-link li a {
    text-decoration: none;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #344563;
  }

  .home-page {
    height: 100vh;
    background-image:
      url("./image/ed1.svg"),
      url("./image/rd1.svg"),
      url("./image/ed2.svg"),
      url("./image/rd2.svg"),
      url("./image/ed3.svg"),
      url("./image/rd3.svg"),
      url("./image/ed4.svg"),
      url("./image/rd4.svg"),
      url("./image/ed5.svg"),
      url("./image/ed6.svg");
    background-repeat: no-repeat;
    background-position:
      99.95% 22.5%,
      94% 6%,
      58.2% 75%,
      54% 80%,
      5% 24%,
      2.4% 15.23%,
      49.16% 26%,
      49% 23.5%,
      16% 82%,
      17.6% 77.5%;
  }

  #home_presentation {
    height: 916px;
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 200px;
    justify-content: stretch;
    background-image: none;
    width: auto;
  }

  #home_presentation p {
    width: 60%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
  }

  .card {
    display: flex;
    flex-direction: row;
    height: auto;
  }

  .card-l {
    display: flex;
    flex-direction: row-reverse;
    height: auto;
  }

  .res-snapshoot {
    width: 50%;
    height: max-content;
  }

  .res-frame {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
  }

  .work-title {
    margin-left: 45%;
  }

  #about_me {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-top-right-radius: 60px;
  }

  .data-inf {
    width: 50%;
    padding: 80px 40px;
    margin-top: 0px;
  }

  #my_skills {
    width: 50%;
    padding: 40px 80px;
  }

  #programmes {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    justify-content: left;
  }

  .pro {
    flex-direction: column;
    padding: 20px 20px;
    margin-left: 10px;
  }

  .res-fram {
    display: flex;
    justify-content: space-between;
    height: auto;
  }

  .res-fram img {
    height: fit-content;
    margin-top: auto;
  }

  .img1 {
    left: 1360px;
    top: 3817px;
    position: absolute;
  }

  .img2 {
    left: 1360px;
    top: 3850px;
    position: absolute;
  }

  .img3 {
    left: 600px;
    top: 3825px;
    position: absolute;
  }

  .img4 {
    left: 216px;
    top: 4295px;
    position: absolute;
  }

  .img5 {
    left: 216px;
    top: 4323px;
    ;
    position: absolute;
  }

  .img6 {
    left: 1200px;
    top: 4250px;
    position: absolute;
  }

  .res-contact {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    text-align: center;
  }

  .form {
    width: inherit;
  }

  .intro {
    margin-left: 30%;
  }
}